<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    
</head>
<body>
    <h1>Hoang Khong vui</h1>
    <img src="/public/img/test2.jpg" alt="" title="aaa">
</body>
</html>