html {
    font-family: "Roboto", sans-serif;
    --primary-color: #2c4270;
    --primary-text-color: #ce7c00;
    --primary-brand-color: #fa9600;
}

/* Navbar */

nav.navbar {
    padding: 4px 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.navbar.bg-light {
    background-color: var(--primary-color) !important;
}

a.navbar-brand {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-brand-color);
    font-family: "Alef", sans-serif;
}

.navbar-brand:hover {
    color: var(--primary-brand-color);
}

.navbar-expand-lg .navbar-nav {
    justify-content: space-evenly;
    width: 70%;
    text-align: center;
}

li a.nav-link {
    text-transform: uppercase;
    color: var(--primary-text-color);
    letter-spacing: 1px;
    padding: 24px 0;
    font-weight: 500;
}

.navbar-nav .nav-link.active {
    color: var(--primary-brand-color);
    font-weight: 500;
}

.nav-link:focus, .nav-link:hover {
    color: var(--primary-brand-color);
}

input.form-control {
    border-radius: 8px;
}

button.btn {
    color: var(--primary-text-color);
    border-color: var(--primary-text-color);
    border-radius: 8px;
}

button.btn:hover {
    background-color: var(--primary-brand-color);
    color: var(--primary-color);
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--primary-color);
    background-color: var(--primary-text-color);
    border-color: var(--primary-text-color);
}

/* Navigation Responsive */
 @media (max-width: 1023px) {
    nav.navbar {
        padding: 20px;
    }

    .navbar-expand-lg .navbar-nav {
        width: 100%;
    }

    .navbar-toggler {
       border: none;

    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler-icon {
        background-image: none!important;
        background-color: var(--primary-brand-color);
        height: 3px;
        width: 25px;
        margin: 10px 0;
        position: relative;
        transition: all 0.35s ease-out;
        transform-origin: center;
      }
      
      .navbar-toggler-icon::before {
        display: block;
        background-color: var(--primary-brand-color);
        height: 3px;
        content: "";
        position: relative;
        top: -7px;
        transition: all 0.15s ease-out;
        transform-origin: center;
      }
      
      .navbar-toggler-icon::after {
        display: block;
        background-color: var(--primary-brand-color);
        height: 3px;
        content: "";
        position: relative;
        top: 4px;
        transition: all 0.35s ease-out;
        transform-origin: center;
      }
      
      .navbar-dark .navbar-toggler-icon,
      .navbar-dark .navbar-toggler-icon::before,
      .navbar-dark .navbar-toggler-icon::after {
        background-color: var(--primary-brand-color);
      }
      
      .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
        transform: rotate(45deg);
      }
      
      .navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
        opacity: 0;
      }
      
      .navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
        transform: rotate(-90deg) translateX(7px);
      }
 }

 /* Carousel */

 .carousel.slide {
    margin-top: 74px;
 }

 .carousel-control-next-icon,
 .carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
 }

 /* Responsive Carousel */

 @media (max-width: 1023px) {

    .carousel.slide {
        margin-top: 70px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
    }

    .carousel-control-next, .carousel-control-prev {
        z-index: 0;
    }

 }

 /* Feature */

 .text-primary {
    color: var(--primary-brand-color) !important;
 }

 .text-light {
    color: #f5f5f5 !important;
 }

 .display-1 {
    font-weight: 800;
 }

 .fs-125rem {
    font-size: 1.25rem !important;
}

/* Feature Responsive */

@media (max-width: 1023px) {
    p.fw-bold {
        margin-left: 0px;
    }
    div.d-flex.align-items-center.justify-content-center.bg-light {
        margin-left: 25px !important;
    }
}

/* About */

.section-title h2 {
    position: relative;
    display: inline-block;
    padding: 0 0px;
    color: var(--primary-text-color);
}

.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 900;
    line-height: 1.2;
}

p.mb-4.pb-2 {
    line-height: 1.4;
    font-size: 18px;
    text-align: justify;
}

.btn-primary {
    background-color: var(--primary-text-color);
}

.btn-primary:hover {
    background-color: var(--primary-text-color);
    opacity: 0.7;
}

/* Products */

a {
    text-decoration: none;
}

.border.border-5.border-light {
    text-align: center;
}

h5.lh-base.mb-0 {
    font-size: 1.4rem;
    padding: 1rem;
    letter-spacing: 1px;
}

h5.lh-base.mb-0:hover {
    opacity: 0.8;
}

h5.lh-base.mb-0 + button.fw-medium {
    font-size: 1.2rem;
    font-weight: 500;
    border-color: var(--primary-text-color);
    border: 2px solid;;
    color: var(--primary-text-color);
    padding: 14px;
    border-radius: 4px;
    letter-spacing: 1px;
    background-color: #fff;
}

h5.lh-base.mb-0 + button.fw-medium:hover {
    background-color: var(--primary-text-color);
    color: #fff;
}

.border.border-5.border-light.border-top-0 {
    border-color: #ccc !important;
    border-width: 1px !important;
}

/* Footer */

.footer {
    background-size: cover;
}

.bg-dark {
    background-color: #353535 !important;
}

.text-light {
    color: #f5f5f5 !important;
}

.fs-15rem {
    font-size: 1.5rem;
}
.fw-bold {
    font-weight: 700 !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

p.mb-2 {
    line-height: 1.4;
}

.footer .btn.btn-social {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #FFFFFF;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary-text-color);
    background-color: #fff;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    text-decoration: none;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 16px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: #ccc;
}


/* Responsive Footer */
@media (min-width: 992px) {
 .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}
}